html{
  height:100%;
}
body{
  background: #ffffff;
  background-size: cover;
  font-family: 'Helvetica', sans-serif;
  height: 100%;
  position:relative;
  text-align: center;
}
h1{
  color: #000000;
  font-weight: normal;
}
ul{
  list-style: none;
  transform:translateY(70%);
  }
img{
  float:left;
  width:21%;
  padding:2%; 
}
a{
  text-decoration:none;
}
p{
  color: #000000;
  float:left;
  max-width: 61%;
  padding-top: 5%;
  text-align: justify;
}
footer{
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  }
footer img{
  float:none;
  width:75%;
  display:block;
  margin:auto;
}
.group:after{
  content: "";
  display: table;
  clear: both;
}
#biopic{
  float: left;
  position: relative;
  padding-top: 15%;
  right: -6%; 
}
#chapbooks{
padding-right: 50%;
padding-top: 10%;
}
#contact{
  margin-left: auto;
  padding-top: 25%;
  transform:translateX(20%);
}
#mail{
  padding-top: 10%;
  padding-right: 15%;
  transform:scale(.5,.5);
}
#meat{
padding-right: 58%;
  }
#nonfiction{
padding-right: 48%;
padding-top: 10%;
}
#nonfictionpubs{
padding-right: 23%;
}
#poems{
padding-right: 56%;
padding-top:10%;
}
#poempubs{
padding-left: 18%;
transform:translateY(10%);
text-align: left;
}
#twitter{
  padding-top: 15%;
  padding-right: 25%;
  transform:scale(.5,.5);
}
@media only screen and (max-width:480px) {
  ul{
    height:100%;
    width:100%;
    transform: translateX(-8.5%);
  }
  img{
    display:inline-block;
    float:none;
  }
  #biopic{
  width:250%;
  transform:translate(-40%,80%);
  }
  p{
    text-align:left;
    width:70%;
  }
  footer{
    display:inline-block;
 transform:translate(1%,-175%)scale(2.5,2.5);
  }
  @media only screen and (max-width:320px){
    ul{
      height:100%;
      width:100%;
      transform: translateX(-13.5%);
    }
    img{
    display:inline-block;
    float:none;
    size: 5em;
    max-width:35%;
    }
    #biopic{
      display:block;
      width:250%;
      transform:translate(-30%,-10%);
    }
    p{
      max-width:100%;
      text-align:center;
      transform:translate(25%,-2%)
    }
    footer{
      transform:scale(3,3);
    }
